modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35115
externalPort = 4200

[[ports]]
localPort = 35187
externalPort = 6800

[[ports]]
localPort = 36121
externalPort = 5173

[[ports]]
localPort = 36507
externalPort = 8008

[[ports]]
localPort = 36915
externalPort = 3001

[[ports]]
localPort = 39041
externalPort = 5000

[[ports]]
localPort = 41565
externalPort = 8080

[[ports]]
localPort = 43013
externalPort = 8000

[[ports]]
localPort = 44097
externalPort = 3002

[[ports]]
localPort = 46321
externalPort = 3000

[[ports]]
localPort = 46649
externalPort = 6000

[[ports]]
localPort = 46857
externalPort = 3003
